*{
    background-color: #347EB8;padding:0px ;border: 0px;margin: 0px;
}
.class1{
    float: left; width:25%; background:#347EB8;
}
.album{
    margin-top: 70px; margin-left: 50px;
}
.class2{
    float: left; width: 31%; background-color:#347EB8;height: 310px;
}
.title{
    font-size: 250%;margin-top:120px;line-height: 0;height: 50px ;
}
.subtitle{
    font-size: 150%;color:aliceblue;line-height: 0 ;height:30px;
}
.audio{
    width: 60%; height: 20%; padding-top: 15px;
}
.ivephoto{
    float:right; width:500px; height:600px;margin:0px;
}
.aboutive{
    font-size:150%;margin-left: 60px;line-height:2
}
.article{
    font-size: 100%;margin-left:60px;color:aliceblue;width: 40%;text-align: justify;
}
.button{
    background-color: #7092BE;color:aliceblue;width: 150px;height: 50px;
        border-color: #7092BE; margin-left: 60px;margin-top: 20px;
}